

<p id="notice"><%= notice %></p>

<div class="first_div">
<center><h1 class="text"> Artists &hearts;</h1></center>
<div id="artistdiv">
<table class="table table-striped table-hover " id="artisttable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Genre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= artist.bio %></td>
        <td><%= artist.genre.name %></td>
        <td><%= link_to 'Show', artist %></td>
        <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
        <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<center>
<button type="button" class="btn btn-info"><%= link_to 'New Artist', new_artist_path %></button>

</center>
</div>
</div>

<center>
<%= will_paginate @blogs %>
</center>


