
<!-- <input type="text" class="form-control" placeholder="Text input">
 -->
<p id="notice"><%= notice %></p>

<div class="enter2">
  <center><h1 class="text">Albums &hearts;</h1></center>

<div class="albumdiv">
<table class="table table-striped table-hover " id="albumstable">


  <thead class="this">
    <tr>
      <th>Title</th>
      <th>Genre</th>
      <th>Artist</th>
      <th>Album Cover </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        
        <td><%= album.title %></td>
        <td><%= album.genre.name %></td>
        <td><%= album.artist.name %></td>
        <td><%= image_tag(album.cover_url, width: 100) %></td>
        </tr>
         <tr>
        <td><%= link_to 'Show', album %></td>
        <td><%= link_to 'Edit', edit_album_path(album) %></td>
        <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<center><button type="button" class="btn btn-default"><%= link_to 'New Album', new_album_path %></button></center>
</div>


</div>
</div>


<center>
<%= will_paginate @blogs %>
</center>

